<div class="todos">
  <form >
    <input
      type="text"
      name="inputTodo"
      placeholder="Enter todo ..."
      class="todo-input"
      [(ngModel)]="inputTodo"
    />
    <button [hidden]="editingTodo" type="submit" class="todo-submit"
      (click)="addTodo()">
      Add Todo
    </button>

    <button [hidden]="!editingTodo" type="submit" class="todo-submit"
      (click)="saveEditingTodo()">
      Save Todo
    </button>


    <button class="count">{{todos.length}}</button>



  </form>
  <div
  class="todo {{ todo.completed ? 'done' : '' }}"
  *ngFor="let todo of todos; let i = index">
    <div class="id">{{ i }}</div>
    <div class="content" (click)="toggleDone(i)">{{ todo.content }}</div>

    <div class="date"> {{ date | date }}</div>
    <button class="edit-btn" (click)="clickedEditTodo(i)">Edit</button>
    <button class="delete" (click)="deleteTodo(i)">Remove</button>


  </div>



</div>
